.dashboard-container {
  display: grid;
  grid-template-columns: 550px 1fr; 
  height: 100vh;
  padding: 0px;
  margin: 10px;
}

.dashboard {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 10px;
  width: 200px;
  padding: 20px;
  margin: 5px;
}

.content {
  grid-column: 2; 
  padding: 20px;
  overflow-y: auto; 
  background-color: rgb(28, 135, 178);
  position: relative;
  right: 325px;
  width: 800px;
  height: 80px;
  color: white;
}

.vertical{
  padding: 20px;
  background-color: rgb(28, 135, 178);
  border: 1px solid #ddd;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.vertical:hover{
  background-color: white;
  color: blue;
}
a{
  text-decoration: none;
}
.hicet{
  width: 100px;
  height: 100px;
  position: relative;
  left: 30px;
}
.ee{
  margin-top: 10px;
}